@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-VariableFont_wght.ttf");
}

/* @font-face {
  font-family: "Dosis";
  src: url("./assets/fonts/Dosis-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Vegan";
  src: url("./assets/fonts/VeganStylePersonalUse-5Y58.ttf");
} */

@keyframes progress {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Orbitron', sans-serif;
  }

  h2 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .text {
    line-height: 2rem;
    margin: 2rem 0;
  }
}

@layer components {
  .clip-circle {
    clip-path: circle(50% at 50% 50%);
  }

  .clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .divider {
    height: 250px;
    min-height: 1em;
    width: 1px;
    align-self: stretch;
    background-image: linear-gradient(to top right,
        transparent,
        #a5a5a5,
        transparent);
    opacity: 0.25;
  }

  .dark .divider {
    background-image: linear-gradient(to top right,
        transparent,
        #8c8c8c,
        transparent);
  }

  input,
  textarea {
    display: block;
    border-radius: 0.5rem;
    border-width: 1px;
    width: 100%;
    min-height: 2.5rem;
    appearance: none;
    background-color: #18181b;
    padding: 1rem;
  }

  .form-group {
    margin-top: 30px;
  }

  .form-label {
    left: 0;
    top: 10px;
    color: #d4d4d8;
    padding-left: 1rem;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
  }

  .form-submit {
    margin-top: 1rem;
    background-color: #27272a;
  }

  .form-submit:hover {
    background-color: #3b0764;
  }

  .form-input {
    position: relative;
    padding: .75rem 0px .75rem 1rem;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
  }

  .form-input:hover {
    background-color: #71717A;
  }

  .form-input:focus {
    box-shadow: 0 2px 0 0 #7e22ce;
  }

  ::placeholder {
    padding-left: 4px;
    opacity: 50;
  }

  ::placeholder:focus {
    opacity: 0;
  }

  .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #3F3F46;
    padding: 30px 10px 10px 10px;
    color: #D4D4D8;
    overflow-y: auto;
    /* Ermöglicht das Scrollen im Modal */
    max-height: 80vh;
    /* Begrenzung der Höhe des Modals */
    border-radius: 8px;
    /* Abgerundete Ecken */
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 39, 42, 0.85);
    z-index: 999;
  }

  .section-container {
    @apply glass;
    min-height: min-content;
    overflow: auto;
    border-radius: 25px;
    padding: 5vh 5vw;
    margin: auto;
    margin-bottom: 5vh;
    width: 90vw;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (min-width: 768px) {
    .section-container {

      margin-top: 2vh;
      margin-left: auto;
      margin-right: auto;
      width: 80vw;

    }
  }

  @media only screen and (min-width: 1024px) {
    .section-container {
      min-height: 35rem;
      width: 70vw;
      padding: 4vh 4vw;
    }
  }
}